{
  "root": true,
  "extends":  "eslint-config-formio",
  "plugins": [
    "mocha"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "arrow-parens": [2, "always"],
    "curly": 2,
    "linebreak-style": ["error", "unix"],
    "no-unused-vars": [2, {"args": "all", "argsIgnorePattern": "^__", "varsIgnorePattern": "^__"}],
    "no-use-before-define": 0,
    "object-curly-spacing": [2, "never"],
    "quotes": ["error", "single"],
    "space-before-function-paren": ["error", "always"]
  }
}